<div class="row row-cols-1 row-cols-md-3 g-4">
    {{range .}}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <div>
                        <h5 class="card-title mb-0">{{.FirstName}} {{.LastName}}</h5>
                        <h6 class="card-subtitle text-muted">CRP: {{.CRP}}</h6>
                    </div>
                </div>
                <p class="card-text">
                    <strong>Abordagem:</strong> {{.TheoryApproach}}<br>
                    <strong>Valor:</strong> R$ {{.SessionPrice}}<br>
                    <strong>Dias:</strong> {{formatDays .AvailableDays}}<br>
                    <strong>Horário de Atendimento:</strong> das {{formatTime .StartTime}} às {{formatTime .EndTime}}
                </p>
                <button class="btn btn-primary"
                        hx-get="/appointments/schedule?supervisor_id={{.UserID}}"
                        hx-target="#main-content">
                    Agendar Supervisão
                </button>
            </div>
        </div>
    </div>
    {{end}}
</div> 