<div class="border p-3 mb-3">
    <h5>Configurações de Supervisor</h5>
    
    <div class="mb-3">
        <label class="form-label">Valor da Sessão (R$)</label>
        <input type="number" class="form-control" name="session_price" step="0.01" min="0">
    </div>

    <div class="mb-3">
        <label class="form-label">Dias Disponíveis</label>
        <div class="d-flex gap-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="1">
                <label class="form-check-label">Segunda</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Terça</label>
            </div>

            <div class="form-check"></div>
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Quarta</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Quinta</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Sexta</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Sábado</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="available_days" value="2">
                <label class="form-check-label">Domingo</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Horário Início</label>
            <input type="time" class="form-control" name="start_time">
        </div>
        <div class="col-md-6">
            <label class="form-label">Horário Fim</label>
            <input type="time" class="form-control" name="end_time">
        </div>
    </div>
</div> 