/* Estilos personalizados para o Superviso */

body {
    background: linear-gradient(135deg, #ff6f61, #681b98, #1e88e5); /* Substitua pelas cores desejadas */
    background-attachment: fixed; /* Paralaxe */
    background-size: cover; /* Cobre toda a tela */
    color: #ffffff; /* Ajusta a cor do texto se necessário */
}


/* Header */
.masthead-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #3a3a3a;
}

.navbar-brand img {
    height: 40px; /* Altura da logo */
    width: auto;  /* Mantém proporção */
}

header.masthead {
    padding-top: 5rem; /* Margem superior maior */
    padding-bottom: 5rem;
    margin-top: 4rem; /* Espaçamento entre a navbar e o header */
}


.masthead-content h2 {
    font-size: 2rem;
    color: #5a5a5a;
}

/* Botão de chamada para ação */
.btn-primary {
    background-color: #007bff;
    border-color: #0056b3;
    font-size: 1.25rem;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
}


.section-with-svg {
    position: relative;
    margin-bottom: -5px; /* Ajuda a eliminar linhas finas */
}

/* Seções */
.section-heading {
    color: #1d1d1d;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-toggler {
    color: rgb(195 19 19 / 0%) !important;
    border: var(--bs-border-width) solid rgb(0 0 0 / 0%) !important;
}

.fas:hover {
    transform: scale(1.2) !important;
    transition: transform 0.2s !important;
}

.lead {
    text-shadow: 1px 1px 2px rgba(104, 27, 152, 0.6) !important;
}

.fw-bold {
    text-shadow: 1px 1px 2px rgba(104, 27, 152, 0.6) !important;
}

.fas {
    text-shadow: 1px 1px 2px rgba(104, 27, 152, 0.6) !important;
}
.btn:hover {
    transform: scale(1.05) !important;
    background-color: #ff6b6b !important;
    color: #fff !important;
}

.footer-logo {
    max-width: 200px;
    height: auto;
}
