

<div class="container py-5 mt-4 mb-4">
    <div class="mt-4"> </div>
    <div class="mt-4"> </div>
    <div class="mt-4"> </div>
    <div class="mt-4"> </div>
    <h2 class="text-center mb-4">Login</h2>
    <form class="mx-auto" style="max-width: 400px;" hx-post="/users/login" hx-swap="outerHTML" hx-encoding="json">
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control w-100" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control w-100" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
</div>
