<div class="container py-5 mb-4"></div>

<div class="container py-5 mt-4">
    <h2 class="text-center mb-4">Eu quero ser</h2>

        <div class="col-md-6">
            <label for="role" class="form-label">Eu quero ser</label>
            <select 
                class="form-select" 
                id="role" 
                name="usertype" 
                hx-get="/users/role-fields" 
                hx-target="#registerFields" 
                hx-swap="innerHTML">
                <option value="supervisando">Supervisionado</option>
                <option value="supervisor">Supervisor</option>
            </select>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100">Conitnuar</button>
        </div>
    </form>
</div>
