<div class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h2 class="display-4 mb-5">Eu quero ser</h2>
        
        <div class="d-grid gap-4 col-12 mx-auto" style="max-width: 300px;">
            <form hx-get="/register_supervisor" hx-target="#dynamic-content">
                <input type="hidden" name="user_role" value="supervisor">
                <button type="submit" 
                        class="btn btn-outline-primary btn-lg py-3 rounded-pill w-100">
                    Supervisor
                </button>
            </form>

            <form hx-get="/register_supervisionated" hx-target="#dynamic-content">
                <input type="hidden" name="user_role" value="supervisionado">
                <button type="submit"
                        class="btn btn-outline-primary btn-lg py-3 rounded-pill w-100">
                    Supervisionado
                </button>
            </form>
        </div>
    </div>
</div>
