<div class="container py-5 mb-4"></div>

<div class="container py-5 mt-4">
    <h2 class="text-center mb-4">Eu quero ser</h2>

        <div class="col-md-6">
            <!-- Supervisor -->
            <button class="btn btn-light btn-lg rounded-pill" href="/register_supervisor" hx-get="/register" hx-target="#dynamic-content" hx-swap="innerHTML">Supervisor</a>
        </div>

        <div class="col-md-4">
            <!-- Supervisionado -->
            <button class="btn btn-light btn-lg rounded-pill" href="/register_supervisionated" hx-get="/register" hx-target="#dynamic-content" hx-swap="innerHTML">Supervisionado</a>
        </div>
    </form>
</div>
